.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1B515E, #88B990);
  color: white;
  font-family: 'Georgia', serif;
  text-align: center;
}

.error-container h1 {
  font-size: 120px;
  margin: 0;
}

.error-container p {
  font-size: 24px;
  margin-bottom: 20px;
}

.back-home {
  font-size: 18px;
  padding: 10px 20px;
  background-color: white;
  color: #1B515E;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-home:hover {
  background-color: #f0f0f0;
}
