
.home-container {
  background-image: url('/assets/Home.png'); /* your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text h1 {
  font-size: 48px;
}

.home-text p {
  font-size: 20px;
  margin: 20px 0;
}

.home-btn {
  background-color: #88B990;
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
  background-color: #338275;
  color: white;
}

.stat-box h2 {
  font-size: 36px;
  color: #ABCD9E;
}

.stat-box p {
  font-size: 18px;
  margin-top: 10px;
}

.whychoose-container {
  display: flex;
  background-color: #0D2A2F;
  color: white;
  padding: 80px 60px;
  align-items: center;
  gap: 40px;
}

.whychoose-image img {
  width: 600px;
  border-radius: 20px;
}

.whychoose-content h4 {
  color: #88B990;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.whychoose-content h2 {
  font-size: 32px;
  margin-bottom: 25px;
  color: #E3FEF7;
}

.whychoose-list {
  list-style: none;
  padding: 0;
}

.whychoose-list li {
  margin-bottom: 15px;
  font-size: 16px;
  color: #D3F2EC;
  display: flex;
  align-items: center;
}

.check-icon {
  color: #88B990;
  margin-right: 10px;
  font-size: 18px;
}
