.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #ABCD9E;
  color: #1B515E;
  padding: 20px;
  position: fixed;
  font-weight: bold;
  font-size: 16px;
  top: 0;
  left: 0;
}

.sidebar-title {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  color: 
#006A71;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color:#1B515E;
font-weight: bold;
  font-size: 16px;
  transition: all 0.2s;
}

.nav-link.active {
  font-weight: bold;
  color: #1B515E;
}


